.App {
  height: 900px;
}

.video-popup {
  max-width: 820px !important;
  width: 820px !important;
  height: 500px;
}

.video-popup-video {
  width: 980px;
}

.video-marker__video {
  width: 800px;
  height: 500px;
  object-fit: cover;
}

.video-marker-container {
  position: relative;
  width: 800px;
  height: 520px;
  display: block;
}

:root {
  --top-video-container-width: 0px;
}

.top-video-container {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: var(--top-video-container-width);
}

#slider {
  position: absolute;
  z-index: 3;
  bottom: -10px;
  left: 0;
  width: 800px;
}
